body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  background-color: black;
  color: white;
}

/* container */
.box {
  padding: 1rem;
  width: 60%;
}

.about {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 3rem;
  margin-top: 10px;
  position: relative;
}

.info:first-child {
  flex-grow: 1;
}

.info {
  display: flex;
  align-items: center;
}


.info:last-child .avatar {
  order: 2;
}

.info:last-child .details {
  text-align: right;
}

.info .details {
  margin: 0 1rem;
}

.info .details p {
  margin: 4px;
}

.name {
  font-size: 15px;
  text-transform: uppercase;
}

.bd {
  font-weight: 300;
}

/* time */
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time h2, .time p {
  margin: 0;
  margin-bottom: 4px;
}

.time h2 {
  font-size: 1.5rem;
}

.sup-time {
  font-weight: 300;
}

/* image */
img {
  max-width: 100%;
}

.avatar {
  width: 70px;
  border-radius: 50%;
}

/* heart */
.heart {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  transform-origin: 50% 50%;
  opacity: .8;
  animation: animateHeart 1.2s ease-in-out infinite;
}

@keyframes animateHeart {
  0% {
    transform: scale( .75 );
  }
  20% {
    transform: scale( 1 );
  }
  40% {
    transform: scale( .75 );
  }
  60% {
    transform: scale( 1 );
  }
  80% {
    transform: scale( .75 );
  }
  100% {
    transform: scale( .75 );
  }
}



